
<p>
  <strong>Name:</strong>
  <%= @aj.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @aj.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @aj.content %>
</p>

<!-- <%= link_to 'Edit', edit_aj_path(@aj) %> |
 <%= link_to 'Back', ajs_path %>
-->